Author: Ramprasath Karunakaran

Date written: 06/08/2016

Version: 1.0

Program: Python 2.7.12 and Jupyter notebook

Libraries used:
* pandas (for dataframe, included in Anaconda Python 2.7) 
* numpy (for numpy array, included in Anaconda Python 2.7)

In [1]:
#Checking python version
!python --version

Python 2.7.12 :: Anaconda 4.1.1 (x86_64)

In [2]:
#importing pandas library
import pandas as pd

# Reading the data and storing it in a dataframe

In [3]:
#Skipping all the lines which has ambiguous fields 
ufo = pd.read_csv('data.dat',sep=',',error_bad_lines=False,header=None)
ufo.head()

Skipping line 1280: expected 11 fields, saw 12
Skipping line 2153: expected 11 fields, saw 12
Skipping line 2403: expected 11 fields, saw 12
Skipping line 3215: expected 11 fields, saw 12
Skipping line 4891: expected 11 fields, saw 12
Skipping line 5676: expected 11 fields, saw 12
Skipping line 5692: expected 11 fields, saw 12
Skipping line 5960: expected 11 fields, saw 12
Skipping line 6223: expected 11 fields, saw 12
Skipping line 6389: expected 11 fields, saw 12
Skipping line 6536: expected 11 fields, saw 12
Skipping line 6906: expected 11 fields, saw 12
Skipping line 7700: expected 11 fields, saw 12
Skipping line 7952: expected 11 fields, saw 12
Skipping line 9140: expected 11 fields, saw 12
Skipping line 9377: expected 11 fields, saw 12
Skipping line 10647: expected 11 fields, saw 12
Skipping line 11351: expected 11 fields, saw 13
Skipping line 11659: expected 11 fields, saw 12
Skipping line 12181: expected 11 fields, saw 12
Skipping line 12354: expected 11 fields, saw 12
Skipping line 14122: expected 11 fields, saw 12

,0,1,2,3,4,5,6,7,8,9,10
0,Start = 10061965,End = 10061965,Country:Japan,Location : nan,Type:Storm,Sub_Type:Tropical cyclone,Names:Dinah,Killed = 61. 0,Affected = 30000.0,Cost = nan,ID = 1965-0036
1,Start = 08092004,End = 08092004,Country:Grenada,Location : nan,Type:Storm,Sub_Type:Tropical cyclone,Names:Ivan,Killed = 39. 0,Affected = 60000.0,Cost = 889.0,ID = 2004-0462
2,Start = 15031995,End = 15031995,Country:Russia,Location : Kalmoukie:Daghestan (Mer ...,Type:Transport Accident,Sub_Type:Water,Names:nan,Killed = 52. 0,Affected = nan,Cost = nan,ID = 1995-0362
3,Start = 00021983,End = 00021983,Country:Cuba,Location : Santiago de Cuba:Pinar d ...,Type:Flood,Sub_Type:nan,Names:nan,Killed = 15. 0,Affected = 164575.0,Cost = 60.0,ID = 1983-0042
4,Start = 00001983,End = 00001983,Country:Nepal,Location : nan,Type:Mass movement wet,Sub_Type:Landslide,Names:nan,Killed = 21. 0,Affected = nan,Cost = nan,ID = 1983-0526

# Making all the key value assignments uniform for easy processing

In [4]:
replacedufo=ufo.replace(r':','=',regex=True)#Replacing ':' with '=' 
replacedufo

,0,1,2,3,4,5,6,7,8,9,10
0,Start = 10061965,End = 10061965,Country=Japan,Location = nan,Type=Storm,Sub_Type=Tropical cyclone,Names=Dinah,Killed = 61. 0,Affected = 30000.0,Cost = nan,ID = 1965-0036
1,Start = 08092004,End = 08092004,Country=Grenada,Location = nan,Type=Storm,Sub_Type=Tropical cyclone,Names=Ivan,Killed = 39. 0,Affected = 60000.0,Cost = 889.0,ID = 2004-0462
2,Start = 15031995,End = 15031995,Country=Russia,Location = Kalmoukie=Daghestan (Mer ...,Type=Transport Accident,Sub_Type=Water,Names=nan,Killed = 52. 0,Affected = nan,Cost = nan,ID = 1995-0362
3,Start = 00021983,End = 00021983,Country=Cuba,Location = Santiago de Cuba=Pinar d ...,Type=Flood,Sub_Type=nan,Names=nan,Killed = 15. 0,Affected = 164575.0,Cost = 60.0,ID = 1983-0042
4,Start = 00001983,End = 00001983,Country=Nepal,Location = nan,Type=Mass movement wet,Sub_Type=Landslide,Names=nan,Killed = 21. 0,Affected = nan,Cost = nan,ID = 1983-0526
5,Start = 26071996,End = 26071996,Country=Russia,Location = Volgorgrad,Type=Industrial Accident,Sub_Type=Gas Leak,Names=Oil refinery,Killed = nan,Affected = nan,Cost = nan,ID = 1996-0209
6,Start = 19062003,End = 19062003,Country=Turkey,Location = Kayseri,Type=Miscellaneous accident,Sub_Type=Explosion,Names=Dormitory of a school,Killed = 10. 0,Affected = 13.0,Cost = nan,ID = 2003-0296
7,Start = 16022003,End = 22022003,Country=Pakistan,Location = Baluchistan=Sindh=North ...,Type=Storm,Sub_Type=nan,Names=nan,Killed = 51. 0,Affected = 2557.0,Cost = nan,ID = 2003-0086
8,Start = 00081986,End = 00081986,Country=Honduras,Location = Northeast Honduras/Mosqui ...,Type=Flood,Sub_Type=nan,Names=nan,Killed = nan,Affected = 30000.0,Cost = nan,ID = 1986-0093
9,Start = 13102007,End = 13102007,Country=Colombia,Location = Near Suarez (Cauca),Type=Industrial Accident,Sub_Type=Collapse,Names=Cold mine,Killed = 22. 0,Affected = 24.0,Cost = nan,ID = 2007-0500
10,Start = 26092002,End = 26092002,Country=Senegal,Location = Au large de la Gambie,Type=Transport Accident,Sub_Type=Water,Names=Ferry 'Joola',Killed = 1200. 0,Affected = nan,Cost = nan,ID = 2002-0622
11,Start = 22051997,End = 22051997,Country=Mexico,Location = Arteaga=Patzcuaro=Micho ...,Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = nan,Affected = 12000.0,Cost = nan,ID = 1997-0116
12,Start = 28032004,End = 11042004,Country=Canada,Location = Manitoba,Type=Flood,Sub_Type=General flood,Names=nan,Killed = nan,Affected = 1000.0,Cost = nan,ID = 2004-0146
13,Start = 20021943,End = 20021943,Country=Mexico,Location = nan,Type=Volcano,Sub_Type=Volcanic eruption,Names=Paricutin,Killed = nan,Affected = 3000.0,Cost = nan,ID = 1943-0008
14,Start = 28051980,End = 28051980,Country=Canada,Location = Webb=Saskatchewan,Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 22. 0,Affected = 11.0,Cost = nan,ID = 1980-0212
15,Start = 09082003,End = 11082003,Country=Algeria,Location = Reggane (Adrar region)=T ...,Type=Flood,Sub_Type=General flood,Names=nan,Killed = 13. 0,Affected = nan,Cost = nan,ID = 2003-0396
16,Start = 02082000,End = 30082000,Country=India,Locations = Gujarat=Andhra Pradesh= ...,Type=Flood,Sub_Type=General flood,Names=nan,Killed = 867. 0,Affected = 22000000.0,Cost = 43.0,ID = 2000-0445
17,Start = 25092008,End = 28092008,Country=Viet Nam,Location = Lang Son=Son La=Bac Gia ...,Type=Storm,Sub_Type=Tropical cyclone,Names=Typhoon 'Hagupit' (Nina),Killed = 46. 0,Affected = 58511.0,Cost = 63.0,ID = 2008-0426
18,Start = 18051994,End = 18051994,Country=Bangladesh,Location = North,Type=Storm,Sub_Type=nan,Names=nan,Killed = 15. 0,Affected = 100.0,Cost = nan,ID = 1994-0122
19,Start = 04122004,End = 04122004,Country=Taiwan (China),Location = South=East,Type=Storm,Sub_Type=Tropical cyclone,Names=Nanmadol (Yoyong/30W),Killed = 3. 0,Affected = nan,Cost = nan,ID = 2004-0618
20,Start = 23021991,End = 23021991,Country=Soviet Union,Location = Leningrad,Type=Miscellaneous accident,Sub_Type=Fire,Names=Hotel,Killed = 17. 0,Affected = nan,Cost = nan,ID = 1991-0042
21,Start = 13101910,End = 13101910,Country=Tanzania Uni Rep,Location = United Republic of Rukwa,Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = nan,Affected = nan,Cost = nan,ID = 1910-0018
22,Start = 00012004,End = 00002004,Country=Peru,Location = Cajamarca department,Type=Drought,Sub_Type=Drought,Names=nan,Killed = nan,Affected = nan,Cost = nan,ID = 2004-9063
23,Start = 00041982,End = 00041982,Country=Morocco,Location = Fez,Type=Mass movement wet,Sub_Type=Landslide,Names=Cliff,Killed = 1. 0,Affected = 12216.0,Cost = nan,ID = 1982-0045
24,Start = 00122000,End = 00122000,Country=Haiti,Location = Abricots region (Grand'An ...,Type=Flood,Sub_Type=nan,Names=nan,Killed = 12. 0,Affected = 1200.0,Cost = nan,ID = 2000-0797
25,Start = 22091909,End = 22091909,Country=United States,Location = Louisiana,Type=Flood,Sub_Type=Storm surge/coastal flood,Names=nan,Killed = 72. 0,Affected = nan,Cost = nan,ID = 1909-0017
26,Start = 06052000,End = 09052000,Country=USA,Location = Franklin=Jefferson count ...,Type=Flood,Sub_Type=Flash flood,Names=nan,Killed = 2. 0,Affected = 2000.0,Cost = nan,ID = 2000-0232
27,Start = 14042003,End = 14042003,Country=Bangladesh,Location = Buriganga river (North),Type=Transport Accident,Sub_Type=Water,Names=MV Mitali,Killed = 130. 0,Affected = nan,Cost = nan,ID = 2003-0173
28,Start = 17061974,End = 17061974,Country=Mexico,Location = Near Acapulco,Type=Storm,Sub_Type=Tropical cyclone,Names=nan,Killed = 13. 0,Affected = nan,Cost = nan,ID = 1974-0030
29,Start = 08052005,End = 08052005,Country=China,Location = Huize County,Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = nan,Affected = 18509.0,Cost = nan,ID = 2005-0740
...,...,...,...,...,...,...,...,...,...,...,...
14298,Start = 00071975,End = 00071975,Country=India,Locations = Northwest=Bihar,Type=Flood,Sub_Type=nan,Names=nan,Killed = 350. 0,Affected = 34000000.0,Cost = 714.259,ID = 1975-0037
14299,Start = 19102005,End = 24102005,Country=Mexico,Location = Cancun=Puerto Maderos= ...,Type=Storm,Sub_Type=Tropical cyclone,Names=Hurricane 'Wilma',Killed = 7. 0,Affected = 1000000.0,Cost = 5000.0,ID = 2005-0585
14300,Start = 00072000,End = 00072000,Country=Central African Rep,Location = Basse-Kotto,Type=Epidemic,Sub_Type=Bacterial Infectious Diseases,Names=Meningococcal disease,Killed = 40. 0,Affected = 160.0,Cost = nan,ID = 2000-0461
14301,Start = 20062002,End = 20062002,Country=Tanzania Uni Rep,Location = Mererani (Arusha region),Type=Industrial Accident,Sub_Type=Other,Names=Mine,Killed = 42. 0,Affected = nan,Cost = nan,ID = 2002-0377
14302,Start = 18052001,End = 18052001,Country=Somalia,Location = Aden Gulf,Type=Transport Accident,Sub_Type=Water,Names=nan,Killed = 86. 0,Affected = nan,Cost = nan,ID = 2001-0256
14303,Start = 04212005,End = 04212005,Country=China,Location = Qijiang district (Chongqi ...,Type=Industrial Accident,Sub_Type=Explosion,Names=Chemical factory Dongxi,Killed = 17. 0,Affected = nan,Cost = nan,ID = 2005-0218
14304,Start = 18051994,End = 18051994,Country=South Africa,Location = nan,Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 21. 0,Affected = nan,Cost = nan,ID = 1994-0720
14305,Start = 20121990,End = 20121990,Country=Taiwan (China),Location = Near Kach Siung,Type=Transport Accident,Sub_Type=Rail,Names=nan,Killed = 40. 0,Affected = 14.0,Cost = nan,ID = 1990-0249
14306,Start = 27101962,End = 27101962,Country=Thailand,Location = nan,Type=Storm,Sub_Type=Tropical cyclone,Names=Harriet,Killed = 769. 0,Affected = nan,Cost = 19.0,ID = 1962-0010
14307,Start = 19011994,End = 19011994,Country=Australia,Location = nan,Type=Storm,Sub_Type=Tropical cyclone,Names=Hurricane,Killed = 22. 0,Affected = nan,Cost = nan,ID = 1994-0310
14308,Start = 15041999,End = 15041999,Country=United States,Location = Florida,Type=Wildfire,Sub_Type=Forest fire,Names=nan,Killed = nan,Affected = 629.0,Cost = nan,ID = 1999-0112
14309,Start = 14082004,End = 14082004,Country=Cuba,Location = La Habana=Pinar del Rio=...,Type=Storm,Sub_Type=Tropical cyclone,Names=Charley,Killed = 4. 0,Affected = 244005.0,Cost = 1000.0,ID = 2004-0415
14310,Start = 11061985,End = 11061985,Country=Burkina Faso,Location = Banfora region,Type=Flood,Sub_Type=nan,Names=nan,Killed = nan,Affected = 572.0,Cost = nan,ID = 1985-0150
14311,Start = 26031995,End = 26031995,Country=Ecuador,Location = Quevedo,Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = 1. 0,Affected = 85.0,Cost = nan,ID = 1995-0047
14312,Start = 06091999,End = 06091999,Country=Mexico,Location = States of Colima=Michoac ...,Type=Storm,Sub_Type=Tropical cyclone,Names=Greg,Killed = 9. 0,Affected = 4000.0,Cost = nan,ID = 1999-0328
14313,Start = 25121999,End = 27121999,Country=United Kingdom,Location = nan,Type=Storm,Sub_Type=Extratropical cyclone,Names=Lothar,Killed = 8. 0,Affected = 200.0,Cost = 100.0,ID = 1999-0571
14314,Start = 00032006,End = 00032006,Country=Romania,Location = Gorj=Dambovita departmen ...,Type=Flood,Sub_Type=General flood,Names=nan,Killed = nan,Affected = 600.0,Cost = nan,ID = 2006-0127
14315,Start = 31101999,End = 31101999,Country=United States,Location = nan,Type=Transport Accident,Sub_Type=Air,Names=Boeing 767-300,Killed = 217. 0,Affected = nan,Cost = nan,ID = 1999-0433
14316,Start = 16102005,End = 16102005,Country=Argentina,Location = Madgalena,Type=Miscellaneous accident,Sub_Type=Fire,Names=Prison,Killed = 33. 0,Affected = 11.0,Cost = nan,ID = 2005-0812
14317,Start = 10071993,End = 10071993,Country=Costa Rica,Location = Cartago=Turrialba,Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = 3. 0,Affected = 240.0,Cost = nan,ID = 1993-0184
14318,Start = 05031999,End = 05031999,Country=Canada,Location = Manitoba=Ontario,Type=Wildfire,Sub_Type=Forest fire,Names=nan,Killed = nan,Affected = 1500.0,Cost = nan,ID = 1999-0145
14319,Start = 25061980,End = 25061980,Country=Brazil,Location = Irati town,Type=Storm,Sub_Type=Local storm,Names=nan,Killed = 15. 0,Affected = 48.0,Cost = nan,ID = 1980-0054
14320,Start = 25052006,End = 25052006,Country=Guinea,Location = Limsam,Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 11. 0,Affected = 10.0,Cost = nan,ID = 2006-0286
14321,Start = 00021978,End = 00021978,Country=Japan,Location = Countrywide,Type=Epidemic,Sub_Type=Viral Infectious Diseases,Names=Influenza,Killed = nan,Affected = 2000000.0,Cost = nan,ID = 1978-0031
14322,Start = 06301994,End = 06301994,Country=China,Location = Yunnan,Type=Flood,Sub_Type=General flood,Names=nan,Killed = 41. 0,Affected = 320.0,Cost = 12.1,ID = 1994-0785
14323,Start = 09042000,End = 09042000,Country=Uganda,Location = Lake Albert,Type=Transport Accident,Sub_Type=Water,Names=nan,Killed = 41. 0,Affected = 11.0,Cost = nan,ID = 2000-0915
14324,Start = 19012007,End = 19012007,Country=Mozambique,Location = Angoche (Nampula province ...,Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 17. 0,Affected = 19.0,Cost = nan,ID = 2007-0018
14325,Start = 09042006,End = 25042006,Country=Ethiopia,Location = Eastern Afar=Eastern Som ...,Type=Flood,Sub_Type=General flood,Names=nan,Killed = nan,Affected = 10000.0,Cost = nan,ID = 2006-0204
14326,Start = 11122006,End = 11122006,Country=China,Location = Lingshi (Shanxi province) ...,Type=Industrial Accident,Sub_Type=Explosion,Names=Coal mine,Killed = 26. 0,Affected = nan,Cost = nan,ID = 2006-0591
14327,Start = 13071998,End = 13071998,Country=Iran Islam Rep,Location = Mashad,Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 25. 0,Affected = 4.0,Cost = nan,ID = 1998-0523

# Formatting the start and end columns to Date format

In [5]:
startcolumn=replacedufo[0].str.lstrip('Start =')#Stripping the 'Start =' string from the column
#Converting to datetime datatype and replacing the 'missing date(00)' values by NaT
startdate=pd.to_datetime(startcolumn,format='%d%m%Y',errors='coerce')

#Performing the same operation to end column as done for startcolumn
endcolumn=replacedufo[1].str.lstrip('End =')
enddate=pd.to_datetime(endcolumn,format='%d%m%Y',errors='coerce')

## Cleaning the Location Column
Steps involved:
> - Replacing '=' with ',' using DataFrame.replace()
- Right stripping the string ending with '...'
- Left stripping th string to remove 'Location ,'
- Replacing empty cells in the column with 'Not Known'

In [7]:
replacedufo1=replacedufo[3].replace(r'=',',',regex=True)
replaceddufo2=replacedufo1.str.rstrip('.') #Strips the '...' embedded in the String
cleanedLocation=replaceddufo2.str.lstrip('Location, ') #Removes the key value 'Location ,' in the string
cleanedLocation

0
1
2           Kalmoukie,Daghestan (Mer
3           Santiago de Cuba,Pinar d
4
5                          Volgorgrad
6                             Kayseri
7            Baluchistan,Sindh,North
8          Northeast Honduras/Mosqui
9                 Near Suarez (Cauca)
10              Au large de la Gambie
11           Arteaga,Patzcuaro,Micho
12                           Manitoba
13
14                  Webb,Saskatchewan
15          Reggane (Adrar region),T
16       s , Gujarat,Andhra Pradesh,
17              g Son,Son La,Bac Gia
18                              North
19                         South,East
20                           eningrad
21           United Republic of Rukwa
22               Cajamarca department
23                                Fez
24         Abricots region (Grand'An
25                            uisiana
26          Franklin,Jefferson count
27            Buriganga river (North)
28                      Near Acapulco
29                       Huize County
                     ...
14298             s , Northwest,Bihar
14299        Cancun,Puerto Maderos,
14300                     Basse-Kotto
14301        Mererani (Arusha region)
14302                       Aden Gulf
14303      Qijiang district (Chongqi
14304
14305                 Near Kach Siung
14306
14307
14308                         Florida
14309           Habana,Pinar del Rio,
14310                  Banfora region
14311                         Quevedo
14312       States of Colima,Michoac
14313
14314       Gorj,Dambovita departmen
14315
14316                       Madgalena
14317               Cartago,Turrialba
14318                Manitoba,Ontario
14319                      Irati town
14320                            msam
14321                     Countrywide
14322                          Yunnan
14323                       ke Albert
14324      Angoche (Nampula province
14325       Eastern Afar,Eastern Som
14326         gshi (Shanxi province)
14327                          Mashad
Name: 3, dtype: object

# Combining location column to the original DataFrame
> - Dropping the column from the original dataframe
- Concatenating the cleaned column with the original dataframe horizontally
- Reordering the column as such in the original dataset

In [8]:
droppedufo=replacedufo.drop(replacedufo.columns[[0,1,3]],axis=1)
finalufo=pd.concat([droppedufo,cleanedLocation,startdate,enddate],axis=1) #axis=1 concatenates the Dataframe horizontally
finalufo=finalufo[[0,1,2,3,4,5,6,7,8,9,10]] #Reordering the columns
finalufo

,0,1,2,3,4,5,6,7,8,9,10
0,1965-06-10,1965-06-10,Country=Japan,,Type=Storm,Sub_Type=Tropical cyclone,Names=Dinah,Killed = 61. 0,Affected = 30000.0,Cost = nan,ID = 1965-0036
1,2004-09-08,2004-09-08,Country=Grenada,,Type=Storm,Sub_Type=Tropical cyclone,Names=Ivan,Killed = 39. 0,Affected = 60000.0,Cost = 889.0,ID = 2004-0462
2,1995-03-15,1995-03-15,Country=Russia,"Kalmoukie,Daghestan (Mer",Type=Transport Accident,Sub_Type=Water,Names=nan,Killed = 52. 0,Affected = nan,Cost = nan,ID = 1995-0362
3,NaT,NaT,Country=Cuba,"Santiago de Cuba,Pinar d",Type=Flood,Sub_Type=nan,Names=nan,Killed = 15. 0,Affected = 164575.0,Cost = 60.0,ID = 1983-0042
4,NaT,NaT,Country=Nepal,,Type=Mass movement wet,Sub_Type=Landslide,Names=nan,Killed = 21. 0,Affected = nan,Cost = nan,ID = 1983-0526
5,1996-07-26,1996-07-26,Country=Russia,Volgorgrad,Type=Industrial Accident,Sub_Type=Gas Leak,Names=Oil refinery,Killed = nan,Affected = nan,Cost = nan,ID = 1996-0209
6,2003-06-19,2003-06-19,Country=Turkey,Kayseri,Type=Miscellaneous accident,Sub_Type=Explosion,Names=Dormitory of a school,Killed = 10. 0,Affected = 13.0,Cost = nan,ID = 2003-0296
7,2003-02-16,2003-02-22,Country=Pakistan,"Baluchistan,Sindh,North",Type=Storm,Sub_Type=nan,Names=nan,Killed = 51. 0,Affected = 2557.0,Cost = nan,ID = 2003-0086
8,NaT,NaT,Country=Honduras,Northeast Honduras/Mosqui,Type=Flood,Sub_Type=nan,Names=nan,Killed = nan,Affected = 30000.0,Cost = nan,ID = 1986-0093
9,2007-10-13,2007-10-13,Country=Colombia,Near Suarez (Cauca),Type=Industrial Accident,Sub_Type=Collapse,Names=Cold mine,Killed = 22. 0,Affected = 24.0,Cost = nan,ID = 2007-0500
10,2002-09-26,2002-09-26,Country=Senegal,Au large de la Gambie,Type=Transport Accident,Sub_Type=Water,Names=Ferry 'Joola',Killed = 1200. 0,Affected = nan,Cost = nan,ID = 2002-0622
11,1997-05-22,1997-05-22,Country=Mexico,"Arteaga,Patzcuaro,Micho",Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = nan,Affected = 12000.0,Cost = nan,ID = 1997-0116
12,2004-03-28,2004-04-11,Country=Canada,Manitoba,Type=Flood,Sub_Type=General flood,Names=nan,Killed = nan,Affected = 1000.0,Cost = nan,ID = 2004-0146
13,1943-02-20,1943-02-20,Country=Mexico,,Type=Volcano,Sub_Type=Volcanic eruption,Names=Paricutin,Killed = nan,Affected = 3000.0,Cost = nan,ID = 1943-0008
14,1980-05-28,1980-05-28,Country=Canada,"Webb,Saskatchewan",Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 22. 0,Affected = 11.0,Cost = nan,ID = 1980-0212
15,2003-08-09,2003-08-11,Country=Algeria,"Reggane (Adrar region),T",Type=Flood,Sub_Type=General flood,Names=nan,Killed = 13. 0,Affected = nan,Cost = nan,ID = 2003-0396
16,2000-08-02,2000-08-30,Country=India,"s , Gujarat,Andhra Pradesh,",Type=Flood,Sub_Type=General flood,Names=nan,Killed = 867. 0,Affected = 22000000.0,Cost = 43.0,ID = 2000-0445
17,2008-09-25,2008-09-28,Country=Viet Nam,"g Son,Son La,Bac Gia",Type=Storm,Sub_Type=Tropical cyclone,Names=Typhoon 'Hagupit' (Nina),Killed = 46. 0,Affected = 58511.0,Cost = 63.0,ID = 2008-0426
18,1994-05-18,1994-05-18,Country=Bangladesh,North,Type=Storm,Sub_Type=nan,Names=nan,Killed = 15. 0,Affected = 100.0,Cost = nan,ID = 1994-0122
19,2004-12-04,2004-12-04,Country=Taiwan (China),"South,East",Type=Storm,Sub_Type=Tropical cyclone,Names=Nanmadol (Yoyong/30W),Killed = 3. 0,Affected = nan,Cost = nan,ID = 2004-0618
20,1991-02-23,1991-02-23,Country=Soviet Union,eningrad,Type=Miscellaneous accident,Sub_Type=Fire,Names=Hotel,Killed = 17. 0,Affected = nan,Cost = nan,ID = 1991-0042
21,1910-10-13,1910-10-13,Country=Tanzania Uni Rep,United Republic of Rukwa,Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = nan,Affected = nan,Cost = nan,ID = 1910-0018
22,NaT,NaT,Country=Peru,Cajamarca department,Type=Drought,Sub_Type=Drought,Names=nan,Killed = nan,Affected = nan,Cost = nan,ID = 2004-9063
23,NaT,NaT,Country=Morocco,Fez,Type=Mass movement wet,Sub_Type=Landslide,Names=Cliff,Killed = 1. 0,Affected = 12216.0,Cost = nan,ID = 1982-0045
24,NaT,NaT,Country=Haiti,Abricots region (Grand'An,Type=Flood,Sub_Type=nan,Names=nan,Killed = 12. 0,Affected = 1200.0,Cost = nan,ID = 2000-0797
25,1909-09-22,1909-09-22,Country=United States,uisiana,Type=Flood,Sub_Type=Storm surge/coastal flood,Names=nan,Killed = 72. 0,Affected = nan,Cost = nan,ID = 1909-0017
26,2000-05-06,2000-05-09,Country=USA,"Franklin,Jefferson count",Type=Flood,Sub_Type=Flash flood,Names=nan,Killed = 2. 0,Affected = 2000.0,Cost = nan,ID = 2000-0232
27,2003-04-14,2003-04-14,Country=Bangladesh,Buriganga river (North),Type=Transport Accident,Sub_Type=Water,Names=MV Mitali,Killed = 130. 0,Affected = nan,Cost = nan,ID = 2003-0173
28,1974-06-17,1974-06-17,Country=Mexico,Near Acapulco,Type=Storm,Sub_Type=Tropical cyclone,Names=nan,Killed = 13. 0,Affected = nan,Cost = nan,ID = 1974-0030
29,2005-05-08,2005-05-08,Country=China,Huize County,Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = nan,Affected = 18509.0,Cost = nan,ID = 2005-0740
...,...,...,...,...,...,...,...,...,...,...,...
14298,NaT,NaT,Country=India,"s , Northwest,Bihar",Type=Flood,Sub_Type=nan,Names=nan,Killed = 350. 0,Affected = 34000000.0,Cost = 714.259,ID = 1975-0037
14299,2005-10-19,2005-10-24,Country=Mexico,"Cancun,Puerto Maderos,",Type=Storm,Sub_Type=Tropical cyclone,Names=Hurricane 'Wilma',Killed = 7. 0,Affected = 1000000.0,Cost = 5000.0,ID = 2005-0585
14300,NaT,NaT,Country=Central African Rep,Basse-Kotto,Type=Epidemic,Sub_Type=Bacterial Infectious Diseases,Names=Meningococcal disease,Killed = 40. 0,Affected = 160.0,Cost = nan,ID = 2000-0461
14301,2002-06-20,2002-06-20,Country=Tanzania Uni Rep,Mererani (Arusha region),Type=Industrial Accident,Sub_Type=Other,Names=Mine,Killed = 42. 0,Affected = nan,Cost = nan,ID = 2002-0377
14302,2001-05-18,2001-05-18,Country=Somalia,Aden Gulf,Type=Transport Accident,Sub_Type=Water,Names=nan,Killed = 86. 0,Affected = nan,Cost = nan,ID = 2001-0256
14303,NaT,NaT,Country=China,Qijiang district (Chongqi,Type=Industrial Accident,Sub_Type=Explosion,Names=Chemical factory Dongxi,Killed = 17. 0,Affected = nan,Cost = nan,ID = 2005-0218
14304,1994-05-18,1994-05-18,Country=South Africa,,Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 21. 0,Affected = nan,Cost = nan,ID = 1994-0720
14305,1990-12-20,1990-12-20,Country=Taiwan (China),Near Kach Siung,Type=Transport Accident,Sub_Type=Rail,Names=nan,Killed = 40. 0,Affected = 14.0,Cost = nan,ID = 1990-0249
14306,1962-10-27,1962-10-27,Country=Thailand,,Type=Storm,Sub_Type=Tropical cyclone,Names=Harriet,Killed = 769. 0,Affected = nan,Cost = 19.0,ID = 1962-0010
14307,1994-01-19,1994-01-19,Country=Australia,,Type=Storm,Sub_Type=Tropical cyclone,Names=Hurricane,Killed = 22. 0,Affected = nan,Cost = nan,ID = 1994-0310
14308,1999-04-15,1999-04-15,Country=United States,Florida,Type=Wildfire,Sub_Type=Forest fire,Names=nan,Killed = nan,Affected = 629.0,Cost = nan,ID = 1999-0112
14309,2004-08-14,2004-08-14,Country=Cuba,"Habana,Pinar del Rio,",Type=Storm,Sub_Type=Tropical cyclone,Names=Charley,Killed = 4. 0,Affected = 244005.0,Cost = 1000.0,ID = 2004-0415
14310,1985-06-11,1985-06-11,Country=Burkina Faso,Banfora region,Type=Flood,Sub_Type=nan,Names=nan,Killed = nan,Affected = 572.0,Cost = nan,ID = 1985-0150
14311,1995-03-26,1995-03-26,Country=Ecuador,Quevedo,Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = 1. 0,Affected = 85.0,Cost = nan,ID = 1995-0047
14312,1999-09-06,1999-09-06,Country=Mexico,"States of Colima,Michoac",Type=Storm,Sub_Type=Tropical cyclone,Names=Greg,Killed = 9. 0,Affected = 4000.0,Cost = nan,ID = 1999-0328
14313,1999-12-25,1999-12-27,Country=United Kingdom,,Type=Storm,Sub_Type=Extratropical cyclone,Names=Lothar,Killed = 8. 0,Affected = 200.0,Cost = 100.0,ID = 1999-0571
14314,NaT,NaT,Country=Romania,"Gorj,Dambovita departmen",Type=Flood,Sub_Type=General flood,Names=nan,Killed = nan,Affected = 600.0,Cost = nan,ID = 2006-0127
14315,1999-10-31,1999-10-31,Country=United States,,Type=Transport Accident,Sub_Type=Air,Names=Boeing 767-300,Killed = 217. 0,Affected = nan,Cost = nan,ID = 1999-0433
14316,2005-10-16,2005-10-16,Country=Argentina,Madgalena,Type=Miscellaneous accident,Sub_Type=Fire,Names=Prison,Killed = 33. 0,Affected = 11.0,Cost = nan,ID = 2005-0812
14317,1993-07-10,1993-07-10,Country=Costa Rica,"Cartago,Turrialba",Type=Earthquake (seismic activity),Sub_Type=Earthquake (ground shaking),Names=nan,Killed = 3. 0,Affected = 240.0,Cost = nan,ID = 1993-0184
14318,1999-03-05,1999-03-05,Country=Canada,"Manitoba,Ontario",Type=Wildfire,Sub_Type=Forest fire,Names=nan,Killed = nan,Affected = 1500.0,Cost = nan,ID = 1999-0145
14319,1980-06-25,1980-06-25,Country=Brazil,Irati town,Type=Storm,Sub_Type=Local storm,Names=nan,Killed = 15. 0,Affected = 48.0,Cost = nan,ID = 1980-0054
14320,2006-05-25,2006-05-25,Country=Guinea,msam,Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 11. 0,Affected = 10.0,Cost = nan,ID = 2006-0286
14321,NaT,NaT,Country=Japan,Countrywide,Type=Epidemic,Sub_Type=Viral Infectious Diseases,Names=Influenza,Killed = nan,Affected = 2000000.0,Cost = nan,ID = 1978-0031
14322,NaT,NaT,Country=China,Yunnan,Type=Flood,Sub_Type=General flood,Names=nan,Killed = 41. 0,Affected = 320.0,Cost = 12.1,ID = 1994-0785
14323,2000-04-09,2000-04-09,Country=Uganda,ke Albert,Type=Transport Accident,Sub_Type=Water,Names=nan,Killed = 41. 0,Affected = 11.0,Cost = nan,ID = 2000-0915
14324,2007-01-19,2007-01-19,Country=Mozambique,Angoche (Nampula province,Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 17. 0,Affected = 19.0,Cost = nan,ID = 2007-0018
14325,2006-04-09,2006-04-25,Country=Ethiopia,"Eastern Afar,Eastern Som",Type=Flood,Sub_Type=General flood,Names=nan,Killed = nan,Affected = 10000.0,Cost = nan,ID = 2006-0204
14326,2006-12-11,2006-12-11,Country=China,gshi (Shanxi province),Type=Industrial Accident,Sub_Type=Explosion,Names=Coal mine,Killed = 26. 0,Affected = nan,Cost = nan,ID = 2006-0591
14327,1998-07-13,1998-07-13,Country=Iran Islam Rep,Mashad,Type=Transport Accident,Sub_Type=Road,Names=nan,Killed = 25. 0,Affected = 4.0,Cost = nan,ID = 1998-0523

# Moving the dataframe into a text file
    Now that the data is in a consistent format. We can extract into a dataframe using the read_csv and apply various arguments over the function.

In [9]:
finalufo.to_csv('data.txt',sep=',')

# Separating the key value pairs in the text file
The function made use of in this section is the courtesy of unutbu[http://stackoverflow.com/questions/15907869/reading-key-value-pairs-into-pandas]

In [10]:
#This method finds the value after the '= ' in each cell
def value(cell):
    return cell[cell.find('=')+1:]

df=pd.read_csv('data.txt', header=None, delimiter=',', 
                   converters={i:value for i in range(12)},#defines a dictionary for each value
                   names='Start End Country Location Type Subtype Names Killed Affected Cost ID'.split(),skiprows=1)
df.head(20)

,Start,End,Country,Location,Type,Subtype,Names,Killed,Affected,Cost,ID
0,1965-06-10,1965-06-10,Japan,,Storm,Tropical cyclone,Dinah,61. 0,30000.0,nan,1965-0036
1,2004-09-08,2004-09-08,Grenada,,Storm,Tropical cyclone,Ivan,39. 0,60000.0,889.0,2004-0462
2,1995-03-15,1995-03-15,Russia,"Kalmoukie,Daghestan (Mer",Transport Accident,Water,nan,52. 0,nan,nan,1995-0362
3,,,Cuba,"Santiago de Cuba,Pinar d",Flood,nan,nan,15. 0,164575.0,60.0,1983-0042
4,,,Nepal,,Mass movement wet,Landslide,nan,21. 0,nan,nan,1983-0526
5,1996-07-26,1996-07-26,Russia,Volgorgrad,Industrial Accident,Gas Leak,Oil refinery,nan,nan,nan,1996-0209
6,2003-06-19,2003-06-19,Turkey,Kayseri,Miscellaneous accident,Explosion,Dormitory of a school,10. 0,13.0,nan,2003-0296
7,2003-02-16,2003-02-22,Pakistan,"Baluchistan,Sindh,North",Storm,nan,nan,51. 0,2557.0,nan,2003-0086
8,,,Honduras,Northeast Honduras/Mosqui,Flood,nan,nan,nan,30000.0,nan,1986-0093
9,2007-10-13,2007-10-13,Colombia,Near Suarez (Cauca),Industrial Accident,Collapse,Cold mine,22. 0,24.0,nan,2007-0500
10,2002-09-26,2002-09-26,Senegal,Au large de la Gambie,Transport Accident,Water,Ferry 'Joola',1200. 0,nan,nan,2002-0622
11,1997-05-22,1997-05-22,Mexico,"Arteaga,Patzcuaro,Micho",Earthquake (seismic activity),Earthquake (ground shaking),nan,nan,12000.0,nan,1997-0116
12,2004-03-28,2004-04-11,Canada,Manitoba,Flood,General flood,nan,nan,1000.0,nan,2004-0146
13,1943-02-20,1943-02-20,Mexico,,Volcano,Volcanic eruption,Paricutin,nan,3000.0,nan,1943-0008
14,1980-05-28,1980-05-28,Canada,"Webb,Saskatchewan",Transport Accident,Road,nan,22. 0,11.0,nan,1980-0212
15,2003-08-09,2003-08-11,Algeria,"Reggane (Adrar region),T",Flood,General flood,nan,13. 0,nan,nan,2003-0396
16,2000-08-02,2000-08-30,India,"s , Gujarat,Andhra Pradesh,",Flood,General flood,nan,867. 0,22000000.0,43.0,2000-0445
17,2008-09-25,2008-09-28,Viet Nam,"g Son,Son La,Bac Gia",Storm,Tropical cyclone,Typhoon 'Hagupit' (Nina),46. 0,58511.0,63.0,2008-0426
18,1994-05-18,1994-05-18,Bangladesh,North,Storm,nan,nan,15. 0,100.0,nan,1994-0122
19,2004-12-04,2004-12-04,Taiwan (China),"South,East",Storm,Tropical cyclone,Nanmadol (Yoyong/30W),3. 0,nan,nan,2004-0618

One can notice many empty cells in the dataframe. Hence it is replaced with NaN from NumPy.

In [11]:
finalframe=df.replace(r'',pd.np.nan,regex=True) #Pandas imports numpy which replaces empty cells with NaN.
finalframe

,Start,End,Country,Location,Type,Subtype,Names,Killed,Affected,Cost,ID
0,1965-06-10,1965-06-10,Japan,NaN,Storm,Tropical cyclone,Dinah,61. 0,30000.0,nan,1965-0036
1,2004-09-08,2004-09-08,Grenada,NaN,Storm,Tropical cyclone,Ivan,39. 0,60000.0,889.0,2004-0462
2,1995-03-15,1995-03-15,Russia,"Kalmoukie,Daghestan (Mer",Transport Accident,Water,nan,52. 0,nan,nan,1995-0362
3,NaN,NaN,Cuba,"Santiago de Cuba,Pinar d",Flood,nan,nan,15. 0,164575.0,60.0,1983-0042
4,NaN,NaN,Nepal,NaN,Mass movement wet,Landslide,nan,21. 0,nan,nan,1983-0526
5,1996-07-26,1996-07-26,Russia,Volgorgrad,Industrial Accident,Gas Leak,Oil refinery,nan,nan,nan,1996-0209
6,2003-06-19,2003-06-19,Turkey,Kayseri,Miscellaneous accident,Explosion,Dormitory of a school,10. 0,13.0,nan,2003-0296
7,2003-02-16,2003-02-22,Pakistan,"Baluchistan,Sindh,North",Storm,nan,nan,51. 0,2557.0,nan,2003-0086
8,NaN,NaN,Honduras,Northeast Honduras/Mosqui,Flood,nan,nan,nan,30000.0,nan,1986-0093
9,2007-10-13,2007-10-13,Colombia,Near Suarez (Cauca),Industrial Accident,Collapse,Cold mine,22. 0,24.0,nan,2007-0500
10,2002-09-26,2002-09-26,Senegal,Au large de la Gambie,Transport Accident,Water,Ferry 'Joola',1200. 0,nan,nan,2002-0622
11,1997-05-22,1997-05-22,Mexico,"Arteaga,Patzcuaro,Micho",Earthquake (seismic activity),Earthquake (ground shaking),nan,nan,12000.0,nan,1997-0116
12,2004-03-28,2004-04-11,Canada,Manitoba,Flood,General flood,nan,nan,1000.0,nan,2004-0146
13,1943-02-20,1943-02-20,Mexico,NaN,Volcano,Volcanic eruption,Paricutin,nan,3000.0,nan,1943-0008
14,1980-05-28,1980-05-28,Canada,"Webb,Saskatchewan",Transport Accident,Road,nan,22. 0,11.0,nan,1980-0212
15,2003-08-09,2003-08-11,Algeria,"Reggane (Adrar region),T",Flood,General flood,nan,13. 0,nan,nan,2003-0396
16,2000-08-02,2000-08-30,India,"s , Gujarat,Andhra Pradesh,",Flood,General flood,nan,867. 0,22000000.0,43.0,2000-0445
17,2008-09-25,2008-09-28,Viet Nam,"g Son,Son La,Bac Gia",Storm,Tropical cyclone,Typhoon 'Hagupit' (Nina),46. 0,58511.0,63.0,2008-0426
18,1994-05-18,1994-05-18,Bangladesh,North,Storm,nan,nan,15. 0,100.0,nan,1994-0122
19,2004-12-04,2004-12-04,Taiwan (China),"South,East",Storm,Tropical cyclone,Nanmadol (Yoyong/30W),3. 0,nan,nan,2004-0618
20,1991-02-23,1991-02-23,Soviet Union,eningrad,Miscellaneous accident,Fire,Hotel,17. 0,nan,nan,1991-0042
21,1910-10-13,1910-10-13,Tanzania Uni Rep,United Republic of Rukwa,Earthquake (seismic activity),Earthquake (ground shaking),nan,nan,nan,nan,1910-0018
22,NaN,NaN,Peru,Cajamarca department,Drought,Drought,nan,nan,nan,nan,2004-9063
23,NaN,NaN,Morocco,Fez,Mass movement wet,Landslide,Cliff,1. 0,12216.0,nan,1982-0045
24,NaN,NaN,Haiti,Abricots region (Grand'An,Flood,nan,nan,12. 0,1200.0,nan,2000-0797
25,1909-09-22,1909-09-22,United States,uisiana,Flood,Storm surge/coastal flood,nan,72. 0,nan,nan,1909-0017
26,2000-05-06,2000-05-09,USA,"Franklin,Jefferson count",Flood,Flash flood,nan,2. 0,2000.0,nan,2000-0232
27,2003-04-14,2003-04-14,Bangladesh,Buriganga river (North),Transport Accident,Water,MV Mitali,130. 0,nan,nan,2003-0173
28,1974-06-17,1974-06-17,Mexico,Near Acapulco,Storm,Tropical cyclone,nan,13. 0,nan,nan,1974-0030
29,2005-05-08,2005-05-08,China,Huize County,Earthquake (seismic activity),Earthquake (ground shaking),nan,nan,18509.0,nan,2005-0740
...,...,...,...,...,...,...,...,...,...,...,...
14298,NaN,NaN,India,"s , Northwest,Bihar",Flood,nan,nan,350. 0,34000000.0,714.259,1975-0037
14299,2005-10-19,2005-10-24,Mexico,"Cancun,Puerto Maderos,",Storm,Tropical cyclone,Hurricane 'Wilma',7. 0,1000000.0,5000.0,2005-0585
14300,NaN,NaN,Central African Rep,Basse-Kotto,Epidemic,Bacterial Infectious Diseases,Meningococcal disease,40. 0,160.0,nan,2000-0461
14301,2002-06-20,2002-06-20,Tanzania Uni Rep,Mererani (Arusha region),Industrial Accident,Other,Mine,42. 0,nan,nan,2002-0377
14302,2001-05-18,2001-05-18,Somalia,Aden Gulf,Transport Accident,Water,nan,86. 0,nan,nan,2001-0256
14303,NaN,NaN,China,Qijiang district (Chongqi,Industrial Accident,Explosion,Chemical factory Dongxi,17. 0,nan,nan,2005-0218
14304,1994-05-18,1994-05-18,South Africa,NaN,Transport Accident,Road,nan,21. 0,nan,nan,1994-0720
14305,1990-12-20,1990-12-20,Taiwan (China),Near Kach Siung,Transport Accident,Rail,nan,40. 0,14.0,nan,1990-0249
14306,1962-10-27,1962-10-27,Thailand,NaN,Storm,Tropical cyclone,Harriet,769. 0,nan,19.0,1962-0010
14307,1994-01-19,1994-01-19,Australia,NaN,Storm,Tropical cyclone,Hurricane,22. 0,nan,nan,1994-0310
14308,1999-04-15,1999-04-15,United States,Florida,Wildfire,Forest fire,nan,nan,629.0,nan,1999-0112
14309,2004-08-14,2004-08-14,Cuba,"Habana,Pinar del Rio,",Storm,Tropical cyclone,Charley,4. 0,244005.0,1000.0,2004-0415
14310,1985-06-11,1985-06-11,Burkina Faso,Banfora region,Flood,nan,nan,nan,572.0,nan,1985-0150
14311,1995-03-26,1995-03-26,Ecuador,Quevedo,Earthquake (seismic activity),Earthquake (ground shaking),nan,1. 0,85.0,nan,1995-0047
14312,1999-09-06,1999-09-06,Mexico,"States of Colima,Michoac",Storm,Tropical cyclone,Greg,9. 0,4000.0,nan,1999-0328
14313,1999-12-25,1999-12-27,United Kingdom,NaN,Storm,Extratropical cyclone,Lothar,8. 0,200.0,100.0,1999-0571
14314,NaN,NaN,Romania,"Gorj,Dambovita departmen",Flood,General flood,nan,nan,600.0,nan,2006-0127
14315,1999-10-31,1999-10-31,United States,NaN,Transport Accident,Air,Boeing 767-300,217. 0,nan,nan,1999-0433
14316,2005-10-16,2005-10-16,Argentina,Madgalena,Miscellaneous accident,Fire,Prison,33. 0,11.0,nan,2005-0812
14317,1993-07-10,1993-07-10,Costa Rica,"Cartago,Turrialba",Earthquake (seismic activity),Earthquake (ground shaking),nan,3. 0,240.0,nan,1993-0184
14318,1999-03-05,1999-03-05,Canada,"Manitoba,Ontario",Wildfire,Forest fire,nan,nan,1500.0,nan,1999-0145
14319,1980-06-25,1980-06-25,Brazil,Irati town,Storm,Local storm,nan,15. 0,48.0,nan,1980-0054
14320,2006-05-25,2006-05-25,Guinea,msam,Transport Accident,Road,nan,11. 0,10.0,nan,2006-0286
14321,NaN,NaN,Japan,Countrywide,Epidemic,Viral Infectious Diseases,Influenza,nan,2000000.0,nan,1978-0031
14322,NaN,NaN,China,Yunnan,Flood,General flood,nan,41. 0,320.0,12.1,1994-0785
14323,2000-04-09,2000-04-09,Uganda,ke Albert,Transport Accident,Water,nan,41. 0,11.0,nan,2000-0915
14324,2007-01-19,2007-01-19,Mozambique,Angoche (Nampula province,Transport Accident,Road,nan,17. 0,19.0,nan,2007-0018
14325,2006-04-09,2006-04-25,Ethiopia,"Eastern Afar,Eastern Som",Flood,General flood,nan,nan,10000.0,nan,2006-0204
14326,2006-12-11,2006-12-11,China,gshi (Shanxi province),Industrial Accident,Explosion,Coal mine,26. 0,nan,nan,2006-0591
14327,1998-07-13,1998-07-13,Iran Islam Rep,Mashad,Transport Accident,Road,nan,25. 0,4.0,nan,1998-0523

Observing the datatypes of all columns

In [12]:
finalframe.dtypes

Start       object
End         object
Country     object
Location    object
Type        object
Subtype     object
Names       object
Killed      object
Affected    object
Cost        object
ID          object
dtype: object

We need the columns 'Killed','Affected','Cost' in numeric types to do more analysis.

In [13]:
finalframe.Killed=finalframe.Killed.apply(pd.to_numeric) # this returns an error

ValueError: Unable to parse string

Taking a look at the column 'Killed'. It is in String format where '.' is followed by a space and then decimal values.

In [14]:
finalframe['Killed']

0           61. 0
1           39. 0
2           52. 0
3           15. 0
4           21. 0
5             nan
6           10. 0
7           51. 0
8             nan
9           22. 0
10        1200. 0
11            nan
12            nan
13            nan
14          22. 0
15          13. 0
16         867. 0
17          46. 0
18          15. 0
19           3. 0
20          17. 0
21            nan
22            nan
23           1. 0
24          12. 0
25          72. 0
26           2. 0
27         130. 0
28          13. 0
29            nan
           ...
14298      350. 0
14299        7. 0
14300       40. 0
14301       42. 0
14302       86. 0
14303       17. 0
14304       21. 0
14305       40. 0
14306      769. 0
14307       22. 0
14308         nan
14309        4. 0
14310         nan
14311        1. 0
14312        9. 0
14313        8. 0
14314         nan
14315      217. 0
14316       33. 0
14317        3. 0
14318         nan
14319       15. 0
14320       11. 0
14321         nan
14322       41. 0
14323       41. 0
14324       17. 0
14325         nan
14326       26. 0
14327       25. 0
Name: Killed, dtype: object

# Removing all the empty space in the 'Killed' column

In [15]:
#Stripping and then replacing empty space with no space
finalframe.Killed = [x.strip().replace(' ', '') for x in finalframe.Killed]
finalframe

,Start,End,Country,Location,Type,Subtype,Names,Killed,Affected,Cost,ID
0,1965-06-10,1965-06-10,Japan,NaN,Storm,Tropical cyclone,Dinah,61.0,30000.0,nan,1965-0036
1,2004-09-08,2004-09-08,Grenada,NaN,Storm,Tropical cyclone,Ivan,39.0,60000.0,889.0,2004-0462
2,1995-03-15,1995-03-15,Russia,"Kalmoukie,Daghestan (Mer",Transport Accident,Water,nan,52.0,nan,nan,1995-0362
3,NaN,NaN,Cuba,"Santiago de Cuba,Pinar d",Flood,nan,nan,15.0,164575.0,60.0,1983-0042
4,NaN,NaN,Nepal,NaN,Mass movement wet,Landslide,nan,21.0,nan,nan,1983-0526
5,1996-07-26,1996-07-26,Russia,Volgorgrad,Industrial Accident,Gas Leak,Oil refinery,nan,nan,nan,1996-0209
6,2003-06-19,2003-06-19,Turkey,Kayseri,Miscellaneous accident,Explosion,Dormitory of a school,10.0,13.0,nan,2003-0296
7,2003-02-16,2003-02-22,Pakistan,"Baluchistan,Sindh,North",Storm,nan,nan,51.0,2557.0,nan,2003-0086
8,NaN,NaN,Honduras,Northeast Honduras/Mosqui,Flood,nan,nan,nan,30000.0,nan,1986-0093
9,2007-10-13,2007-10-13,Colombia,Near Suarez (Cauca),Industrial Accident,Collapse,Cold mine,22.0,24.0,nan,2007-0500
10,2002-09-26,2002-09-26,Senegal,Au large de la Gambie,Transport Accident,Water,Ferry 'Joola',1200.0,nan,nan,2002-0622
11,1997-05-22,1997-05-22,Mexico,"Arteaga,Patzcuaro,Micho",Earthquake (seismic activity),Earthquake (ground shaking),nan,nan,12000.0,nan,1997-0116
12,2004-03-28,2004-04-11,Canada,Manitoba,Flood,General flood,nan,nan,1000.0,nan,2004-0146
13,1943-02-20,1943-02-20,Mexico,NaN,Volcano,Volcanic eruption,Paricutin,nan,3000.0,nan,1943-0008
14,1980-05-28,1980-05-28,Canada,"Webb,Saskatchewan",Transport Accident,Road,nan,22.0,11.0,nan,1980-0212
15,2003-08-09,2003-08-11,Algeria,"Reggane (Adrar region),T",Flood,General flood,nan,13.0,nan,nan,2003-0396
16,2000-08-02,2000-08-30,India,"s , Gujarat,Andhra Pradesh,",Flood,General flood,nan,867.0,22000000.0,43.0,2000-0445
17,2008-09-25,2008-09-28,Viet Nam,"g Son,Son La,Bac Gia",Storm,Tropical cyclone,Typhoon 'Hagupit' (Nina),46.0,58511.0,63.0,2008-0426
18,1994-05-18,1994-05-18,Bangladesh,North,Storm,nan,nan,15.0,100.0,nan,1994-0122
19,2004-12-04,2004-12-04,Taiwan (China),"South,East",Storm,Tropical cyclone,Nanmadol (Yoyong/30W),3.0,nan,nan,2004-0618
20,1991-02-23,1991-02-23,Soviet Union,eningrad,Miscellaneous accident,Fire,Hotel,17.0,nan,nan,1991-0042
21,1910-10-13,1910-10-13,Tanzania Uni Rep,United Republic of Rukwa,Earthquake (seismic activity),Earthquake (ground shaking),nan,nan,nan,nan,1910-0018
22,NaN,NaN,Peru,Cajamarca department,Drought,Drought,nan,nan,nan,nan,2004-9063
23,NaN,NaN,Morocco,Fez,Mass movement wet,Landslide,Cliff,1.0,12216.0,nan,1982-0045
24,NaN,NaN,Haiti,Abricots region (Grand'An,Flood,nan,nan,12.0,1200.0,nan,2000-0797
25,1909-09-22,1909-09-22,United States,uisiana,Flood,Storm surge/coastal flood,nan,72.0,nan,nan,1909-0017
26,2000-05-06,2000-05-09,USA,"Franklin,Jefferson count",Flood,Flash flood,nan,2.0,2000.0,nan,2000-0232
27,2003-04-14,2003-04-14,Bangladesh,Buriganga river (North),Transport Accident,Water,MV Mitali,130.0,nan,nan,2003-0173
28,1974-06-17,1974-06-17,Mexico,Near Acapulco,Storm,Tropical cyclone,nan,13.0,nan,nan,1974-0030
29,2005-05-08,2005-05-08,China,Huize County,Earthquake (seismic activity),Earthquake (ground shaking),nan,nan,18509.0,nan,2005-0740
...,...,...,...,...,...,...,...,...,...,...,...
14298,NaN,NaN,India,"s , Northwest,Bihar",Flood,nan,nan,350.0,34000000.0,714.259,1975-0037
14299,2005-10-19,2005-10-24,Mexico,"Cancun,Puerto Maderos,",Storm,Tropical cyclone,Hurricane 'Wilma',7.0,1000000.0,5000.0,2005-0585
14300,NaN,NaN,Central African Rep,Basse-Kotto,Epidemic,Bacterial Infectious Diseases,Meningococcal disease,40.0,160.0,nan,2000-0461
14301,2002-06-20,2002-06-20,Tanzania Uni Rep,Mererani (Arusha region),Industrial Accident,Other,Mine,42.0,nan,nan,2002-0377
14302,2001-05-18,2001-05-18,Somalia,Aden Gulf,Transport Accident,Water,nan,86.0,nan,nan,2001-0256
14303,NaN,NaN,China,Qijiang district (Chongqi,Industrial Accident,Explosion,Chemical factory Dongxi,17.0,nan,nan,2005-0218
14304,1994-05-18,1994-05-18,South Africa,NaN,Transport Accident,Road,nan,21.0,nan,nan,1994-0720
14305,1990-12-20,1990-12-20,Taiwan (China),Near Kach Siung,Transport Accident,Rail,nan,40.0,14.0,nan,1990-0249
14306,1962-10-27,1962-10-27,Thailand,NaN,Storm,Tropical cyclone,Harriet,769.0,nan,19.0,1962-0010
14307,1994-01-19,1994-01-19,Australia,NaN,Storm,Tropical cyclone,Hurricane,22.0,nan,nan,1994-0310
14308,1999-04-15,1999-04-15,United States,Florida,Wildfire,Forest fire,nan,nan,629.0,nan,1999-0112
14309,2004-08-14,2004-08-14,Cuba,"Habana,Pinar del Rio,",Storm,Tropical cyclone,Charley,4.0,244005.0,1000.0,2004-0415
14310,1985-06-11,1985-06-11,Burkina Faso,Banfora region,Flood,nan,nan,nan,572.0,nan,1985-0150
14311,1995-03-26,1995-03-26,Ecuador,Quevedo,Earthquake (seismic activity),Earthquake (ground shaking),nan,1.0,85.0,nan,1995-0047
14312,1999-09-06,1999-09-06,Mexico,"States of Colima,Michoac",Storm,Tropical cyclone,Greg,9.0,4000.0,nan,1999-0328
14313,1999-12-25,1999-12-27,United Kingdom,NaN,Storm,Extratropical cyclone,Lothar,8.0,200.0,100.0,1999-0571
14314,NaN,NaN,Romania,"Gorj,Dambovita departmen",Flood,General flood,nan,nan,600.0,nan,2006-0127
14315,1999-10-31,1999-10-31,United States,NaN,Transport Accident,Air,Boeing 767-300,217.0,nan,nan,1999-0433
14316,2005-10-16,2005-10-16,Argentina,Madgalena,Miscellaneous accident,Fire,Prison,33.0,11.0,nan,2005-0812
14317,1993-07-10,1993-07-10,Costa Rica,"Cartago,Turrialba",Earthquake (seismic activity),Earthquake (ground shaking),nan,3.0,240.0,nan,1993-0184
14318,1999-03-05,1999-03-05,Canada,"Manitoba,Ontario",Wildfire,Forest fire,nan,nan,1500.0,nan,1999-0145
14319,1980-06-25,1980-06-25,Brazil,Irati town,Storm,Local storm,nan,15.0,48.0,nan,1980-0054
14320,2006-05-25,2006-05-25,Guinea,msam,Transport Accident,Road,nan,11.0,10.0,nan,2006-0286
14321,NaN,NaN,Japan,Countrywide,Epidemic,Viral Infectious Diseases,Influenza,nan,2000000.0,nan,1978-0031
14322,NaN,NaN,China,Yunnan,Flood,General flood,nan,41.0,320.0,12.1,1994-0785
14323,2000-04-09,2000-04-09,Uganda,ke Albert,Transport Accident,Water,nan,41.0,11.0,nan,2000-0915
14324,2007-01-19,2007-01-19,Mozambique,Angoche (Nampula province,Transport Accident,Road,nan,17.0,19.0,nan,2007-0018
14325,2006-04-09,2006-04-25,Ethiopia,"Eastern Afar,Eastern Som",Flood,General flood,nan,nan,10000.0,nan,2006-0204
14326,2006-12-11,2006-12-11,China,gshi (Shanxi province),Industrial Accident,Explosion,Coal mine,26.0,nan,nan,2006-0591
14327,1998-07-13,1998-07-13,Iran Islam Rep,Mashad,Transport Accident,Road,nan,25.0,4.0,nan,1998-0523

In [16]:
#Converting the datatype of three required objects to numeric types.
finalframe[['Killed','Affected','Cost']]=finalframe[['Killed','Affected','Cost']].apply(pd.to_numeric,errors='coerce')

In [17]:
finalframe.dtypes #Checking the datatypes updated.

Start        object
End          object
Country      object
Location     object
Type         object
Subtype      object
Names        object
Killed      float64
Affected    float64
Cost        float64
ID           object
dtype: object

In [18]:
finalframe.describe() #statistics for numerical columns

/Users/iRam/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

             Killed      Affected           Cost
count  1.129000e+04  8.869000e+03    3018.000000
mean   2.772850e+03  5.881095e+05     481.833042
std    7.754650e+04  7.228792e+06    3323.496327
min    9.999990e-01  1.000000e+00       0.003000
25%             NaN           NaN            NaN
50%             NaN           NaN            NaN
75%             NaN           NaN            NaN
max    5.000000e+06  3.000000e+08  125000.000000

In [19]:
df.describe() #insight for remaining attributes

,Start,End,Country,Location,Type,Subtype,Names,Killed,Affected,Cost,ID
count,14328,14328,14328,14328,14328,14328,14328,14328,14328,14328,14328
unique,6999,7019,228,10529,18,47,2225,850,2897,1081,13673
top,,,China,,Transport Accident,nan,nan,nan,nan,nan,2005-0713
freq,3327,3307,1040,1830,3365,1834,9775,3038,5459,11310,21

# Converting to csv format

In [20]:
finalframe.to_csv('parsed_data.csv',sep=',') #values separated by commas